@import "_cor";
@import "_header";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@mixin flexcenter($justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $steelBlue-color;
}